@import '@/variables.scss';

.item-icon {
    width: 24px !important;
    height: 24px !important;
}


@media (max-width: $media-lg-2) {

    .collection_collection> :first-child>div>span,
    .collection_collection> :first-child>div>div>div>span {
        font-size: 24px !important;
    }
}

@media (max-width: $media-lg-1) {

    .collection_collection> :first-child>div {
        padding-left: 20px !important;

        &>div>div>span {
            font-size: 16px !important;
        }

        &>hr {
            display: none;
        }
    }

    .items-list-collection {

        &>li div,
        &>li span {
            font-size: 16px !important;
        }
    }
}

@media (max-width: $media-md-1) {

    .collection_collection> :first-child {
        flex-direction: column-reverse !important;
        gap: 20px !important;

        &>div {
            padding-left: 0px !important;
        }

        &>* {
            width: 100% !important;
        }

        &>div>hr {
            display: block !important;

        }

        &> :nth-child(3)>button {
            font-size: 18px !important;
        }
    }
    .collection_collection > :nth-child(3)>button {
        font-size: 18px !important;
    }

}

@media (max-width: $media-sm-2) {

    .items-list-collection>li {
        flex-direction: column !important;
        align-items: start !important;
        align-content: start !important;

        & .vr {
            display: none !important;
        }
    }

    .collection_collection> :nth-child(7)>div {
        flex-direction: column !important;
        gap: 20px !important;

        &>div {
            width: 100% !important;
        }
    }

}