@import '@/variables.scss';

@media (max-width: $media-lg-1) {
    .home-wrapper {
        flex-direction: column-reverse;

        & > div{
            width: 100% !important; //to override bootstrap style  
        }
    }
    .items-list-home{
        & > li div, & > li span{
            font-size: 16px !important; //to override bootstrap style
        }
    }
}

@media (max-width: $media-sm-2) {
    
    .items-list-home > li > div{
        flex-direction: column !important; //to override bootstrap style
        & .vr{
            display: none !important; //to override bootstrap style
        }
    }
}