@import '@/variables.scss';

.addCollection-cropper{
    height: 400px;
}

@media (max-width: $media-lg-2) {

    .addCollection_wrapper{
        width: 75% !important; //to override bootstrap style
    }
}

@media (max-width: $media-md-1) {
    
    .addCollection_wrapper{
        width: 100% !important; //to override bootstrap style
    }
}